@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@200;300;400;600;700&display=swap');
/*--------------------Header-----------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
    color: #fff;
    background-color: black;
   
  }
#header {
  width: 100%;
  height: 100vh;
  background-image: url(assets/ar-virtual-reality-healthcare.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#menu-bar{
  color: #fff;
  border: 1rem solid #fff;
  border-radius: 5rem;
  font-size: 3rem;
  padding: 5rem 1.2rem;
  cursor: pointer;
  display: none;


}
.btn{
  display: inline-block;
  margin-top: 1rem;
  background: blue;
  color: #fff;
  padding: 1rem 1rem;
  border: .2rem solid blue;
  cursor: pointer;
  font-size: 1.7rem;

}
.btn:hover{
  background: rgba(255, 165, 0, .2);
  color: blue;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items:  center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 200px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: blue;
  position: absolute ;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;

}
nav ul li .icons i{
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
nav ul li .icons i:hover{
  color: blue;
}
nav ul li i{
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  
}
header .icons i:hover{
  color: blue;
}
header .navbar.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .navbar a{
  color: #fff;
  font-size: 2rem;
  margin: .8rem;

}
header .navbar a:hover{
  color: blue;
}
header .icons i{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons i:hover{
  color: blue;
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.overlay{
  background: rgba(0, 0, 0, .7);
  height: 100vh;
}
.header-text h1{
  font-size: 60px;
  margin-top: 20px; 
}
.header-text h1 span{
  color: rgb(1, 139, 252);
}
/*------------------------Login--------------------*/
.login-form-container{
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;

}
.login-form-container.active{
  top: 0;

}
.login-form-container form{
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  background: #fff;
  width: 40rem;
}

.login-form-container form h3{
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}
.login-form-container form .box{
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  color: #333;
  margin: 2rem 0;
  border: .1rem solid rgba(0, 0, 0, .3);
  text-transform: none;
}
.login-form-container form .box:focus{
  border-color: blue;
}
.login-form-container form #remember {
  margin: 2rem 0;
}
.login-form-container form label{
  font-size: 1.5rem;
}
.login-form-container form .btn{
  display: block;
  width: 100%;
}

.login-form-container form p{
  padding: .5rem 0;
  font-size: 1.3rem;
  color: #666;
}
.login-form-container form p a{
  color: blue;

}
.login-form-container form p a:hover{
  color: #333;
  text-decoration: underline;

}
.login-form-container #form-close{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;

}
/*---------------------about----------*/
#about{
  padding: 80px 0;
  color: #ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;

}
.about-col-1 img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;

}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles{
  display: flex;
  margin: 30px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: blue;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;

}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;

}
.tab-contents ul li span{
  color: blue;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/*-----------------------------------Courses---------------------------*/
#courses{
  padding: 30px 0;
}
.courses-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.courses-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.courses-list div i{
  font-size: 50px;
  margin-bottom: 30px;

}
.courses-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.courses-list div a{
  text-decoration: none;
  color: rgb(160, 160, 241);
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}
.courses-list div a:after{
  content: '';
  width: 0;
  height: 3px;
  background: blue;
  position: absolute ;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.courses-list div:hover{
  background: blue;
  transform: translateY(-10px);

}
/*------------why-career-ticket-------*/
#why-career-ticket{
  background: url(../img/why-career-ticket.jpg) no-repeat center center/cover;
  padding: 50px 0;
}
.why-career-ticket-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.career{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.career img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #326ffd);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;

}
.layer h3{
  font-weight: bold;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #326ffd;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.career:hover img{
  transform: scale(1.1);
}
.career:hover .layer{
  height: 100%;
}
.btns {
  display: block;
  margin: 5px 0;
  width: fit-content;
  border: 1px solid #326ffd;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btns:hover {
  background: #326ffd;
}


#support {
  padding: 50px 0;
}


.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

details {
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

details p {
  margin-top: 10px;
}
/*-----------------------------contact--------------------------------------*/
.contact-left{
  flex-basis: 35%;

}
.contact-right{
  flex-basis: 35%;
  
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #326ffd;
  font-size: 25px;
  margin-right: 15px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #326ffd;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #326ffd;
  transform: translateY(-5px);
}
.btns.btn2{
  display: inline-block;
  background: #326ffd;
}
.contact-right form{
  width: 100%;
  
}
form input, form textarea{
  width: 100%;
  border: 0;
  padding: 15px;
  background: #262626;
  margin: 15px 0;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}
form btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/*-----------------------------footer-------------------------*/
footer {
  background-color: #262626;
  padding: 30px 0;
  color: #fff;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col-md-4 {
  flex-basis: 33.33%;
  margin: 20px;
  

}

footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #326ffd;
}

footer p {
  font-size: 14px;
  margin-bottom: 20px;
}



@media (max-width:768px){
  #menu-bar{
      display: initial;
  }
  header .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #333;
      border-top: .1rem solid rgba(255, 255, 255, .2);
      padding: 1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 0 0);

  }
  header .navbar a{
      display: block;
      border-radius: .5rem;
      padding: 1.5rem;
      margin: 1.5rem 0;
      background: #222;

  }
}
@media (max-width:450px){
  html{
      font-size: 55%;
  }
  .heading span{
      font-size: 2.5rem;
  }
}